body {
  background-color: rgb(253, 34, 71);
}

.stock-details {
  padding: 30px;
}

.detHeader {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background-size: contain;
}

.price-detail-page {
  align-self: flex-end;
  padding-top: -19px;
  font-weight: bold;
}

.stock-details h1 {
  color: rgb(250, 246, 247);
  font-size: 1.5rem;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 50px;
}

.nav-toggle {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(232, 43, 75);
  width: 100%;
  margin: 0;
}

.nav-toggle-back {
  justify-content: left;
  padding: 15px;
  font-size: x-large;
  font-weight: bold;
  color: blanchedalmond;
}

.company-share-view {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(232, 43, 75);
}

.stock-infobar {
  align-items: center;
  padding: 0 0.5rem;
  height: 10vh;
  color: seashell;
  font-size: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.stock-infobar span {
  line-height: 40px;
}

.stock-infobar:nth-child(even) {
  background-color: rgb(243, 24, 60);
}

.stock-info-name {
  font-size: 25px;
  font-weight: bold;
  color: rgb(249, 249, 249);
  font-family: 'lato', sans-serif;
}

.stock-metric-info {
  font-weight: bolder;
  font-size: 25px;
  color: seashell;
}

.stock-infobar:nth-child(odd) {
  background-color: rgb(243, 49, 82)
}
