body {
  background-color: #fd4343;
}

.stock-details {
  padding: 30px;
}

.detHeader {
  align-items: center;
  padding: 2em 1em;
  background-image: url('../../Assets/coinmarketcapthree.jpeg');
  background-size: contain;
}

.stock-details h1 {
  color: rgb(250, 2, 2);
  font-size: 2rem;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 50px;
}

.detnav {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #c12b2b;
  width: 100%;
  margin: 0;
}

.back {
  justify-content: left;
  padding: 10px;
  font-size: x-large;
}

.detdesc {
  padding: 5px;
  font-size: 20px;
  color: white;
}

.stock-infobar {
  align-items: center;
  padding: 0 0.5rem;
  height: 10vh;
  border-radius: 1rem;
  color: seashell;
  font-size: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.stock-infobar span {
  line-height: 40px;
}

.stock-infobar:nth-child(even) {
  background-color: #f92626;
}

.stock-info-name {
  font-size: 25px;
  font-weight: bold;
  color: rgb(249, 249, 249);
  font-family: Arial, Helvetica, sans-serif;
}

.stock-metric-info {
  font-weight: bolder;
  font-size: 25px;
  color: seashell;
}

.stock-infobar:nth-child(odd) {
  background-color: #f75757;
}
